<a href="https://colab.research.google.com/github/mwojack/github-slideshow/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
	

df.shape
# (rows,columns)

(2394, 8)

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
df.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [25]:
Cities=df['Location'].unique()
print(Cities)
len(df['Location'].unique())

['Rio' 'Beijing' 'Sydney' 'Barcelona' 'Los Angeles' 'Montreal' 'Mexico'
 'Rome' 'Helsinki' 'Berlin' 'Amsterdam' 'Antwerp' 'London' 'Athens'
 'Atlanta' 'Moscow' 'Munich' 'Tokyo' 'Melbourne / Stockholm' 'Paris'
 'Stockholm' 'St Louis' 'Seoul']

23

In [32]:
print(df['Nationality'].value_counts()['USA'])

638

In [6]:
df.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64